DemoCatalogsServiceClient/src/main/resources/FinancialEntitiesInq.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="FinancialEntitiesInq" targetNamespace="urn://grupoaval.com/payments/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn://grupoaval.com/payments/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema targetNamespace="urn://grupoaval.com/payments/v1/" xmlns:aval="urn://grupoaval.com/xsd/ifx/">
            <xsd:import namespace="urn://grupoaval.com/xsd/ifx/"/>

			<xsd:element name="getFinancialEntitiesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:getFinancialEntitiesRq"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getFinancialEntitiesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:getFinancialEntitiesRs"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		<xsd:complexType name="getFinancialEntitiesRq_Type">
		<xsd:complexContent>
			<xsd:extension base="aval:SvcRq_Type">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="aval:RefInfo"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:SecretList"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:Catalogue"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
      <xsd:element name="getFinancialEntitiesRq" type="tns:getFinancialEntitiesRq_Type"/>
      <xsd:element name="getFinancialEntitiesRs" type="tns:getFinancialEntitiesRs_Type"/>
      <xsd:complexType name="getFinancialEntitiesRs_Type">
		<xsd:complexContent>
			<xsd:extension base="aval:SvcRs_Type">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:Catalogue"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn://grupoaval.com/xsd/ifx/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:aval="urn://grupoaval.com/xsd/ifx/">
      <xsd:complexType name="Catalogue_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:AdditionalData"/>
			<xsd:element minOccurs="0" ref="aval:Key"/>			
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:CatalogueInfo"/>

		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="Catalogue" type="aval:Catalogue_Type"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:complexType name="AdditionalData_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Name" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="AdditionalData" type="aval:AdditionalData_Type"/>
      <xsd:complexType name="CatalogueInfo_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:Order"/>
			<xsd:element minOccurs="0" ref="aval:Code"/>
			<xsd:element minOccurs="0" ref="aval:AdditionalData"/>

		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="CatalogueInfo" type="aval:CatalogueInfo_Type"/>
      <xsd:element name="Order" type="xsd:string"/>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:simpleType name="CurRate_Type">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
      <xsd:element name="CurRate" type="aval:CurRate_Type"/>
      <xsd:complexType name="SvcRq_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:RqUID"/>
			<xsd:element minOccurs="0" ref="aval:MsgRqHdr"/>
			<xsd:element minOccurs="0" ref="aval:CustId"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="SvcRq" type="aval:SvcRq_Type"/>
      <xsd:element name="PartyAcctRelType" type="aval:OpenEnum_Type"/>
      <xsd:element name="GovOrg" type="aval:OpenEnum_Type"/>
      <xsd:element name="OrigDt" type="xsd:dateTime"/>
      <xsd:element name="BillStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChargeRegulation" type="aval:OpenEnum_Type"/>
      <xsd:element name="StatusDesc" type="xsd:string"/>
      <xsd:element name="SchoolName" type="xsd:string"/>
      <xsd:element name="IPAddr" type="xsd:string"/>
      <xsd:element name="NoteDetail" type="xsd:string"/>
      <xsd:element name="HistRetentionDays" type="xsd:long"/>
      <xsd:element name="POSOperation" type="aval:OpenEnum_Type"/>
      <xsd:element name="ImmediateXfer" type="xsd:boolean"/>
      <xsd:element name="CreditScoreValue" type="xsd:string"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:element name="ClientCreateDt" type="xsd:dateTime"/>
      <xsd:element name="PSSNetworkType" type="aval:OpenEnum_Type"/>
      <xsd:element name="BillingAcct" type="xsd:string"/>
      <xsd:element name="ClientTerminalSeqId" type="aval:Identifier_Type"/>
      <xsd:element name="ExemptName" type="xsd:string"/>
      <xsd:element name="CurDt" type="xsd:dateTime"/>
      <xsd:element name="OrgDt" type="xsd:dateTime"/>
      <xsd:element name="SecurityCode" type="aval:Identifier_Type"/>
      <xsd:element name="MinCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="AreaCode" type="xsd:string"/>
      <xsd:element name="IncHistory" type="xsd:boolean"/>
      <xsd:element name="SecObjType" type="aval:OpenEnum_Type"/>
      <xsd:element name="MatchedRec" type="xsd:long"/>
      <xsd:element name="PartyAcctRelDesc" type="xsd:string"/>
      <xsd:element name="NextDt" type="xsd:dateTime"/>
      <xsd:element name="Gender" type="aval:OpenEnum_Type"/>
      <xsd:element name="CentralBankId" type="xsd:string"/>
      <xsd:element name="SPRefId" type="aval:Identifier_Type"/>
      <xsd:element name="MaxCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="Category" type="xsd:string"/>
      <xsd:element name="CreditScoreType" type="xsd:string"/>
      <xsd:element name="ImageURL" type="aval:URL_Type"/>
      <xsd:element name="POSEntryCapability" type="aval:OpenEnum_Type"/>
      <xsd:element name="CIFINState" type="xsd:string"/>
      <xsd:element name="MediaNum" type="aval:Identifier_Type"/>
      <xsd:element name="BillDt" type="xsd:dateTime"/>
      <xsd:element name="PSSMsgEncryption" type="aval:OpenEnum_Type"/>
      <xsd:element name="LoanPmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Environment" type="aval:OpenEnum_Type"/>
      <xsd:element name="OptOrgIdNum" type="aval:Identifier_Type"/>
      <xsd:element name="Value" type="xsd:string"/>
      <xsd:element name="CryptType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IncDetail" type="xsd:boolean"/>
      <xsd:element name="RqUID" type="aval:UUID_Type"/>
      <xsd:element name="MainDocType" type="xsd:string"/>
      <xsd:element name="XferId" type="aval:Identifier_Type"/>
      <xsd:element name="FileType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SettlementMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="BSPName" type="xsd:string"/>
      <xsd:element name="PeriodDesc" type="xsd:string"/>
      <xsd:element name="POSAttended" type="xsd:boolean"/>
      <xsd:element name="ChkNum" type="xsd:string"/>
      <xsd:element name="IdentVerifyMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="BankAcctStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="ProductStatus" type="xsd:string"/>
      <xsd:element name="LoanName" type="xsd:string"/>
      <xsd:element name="DueDt" type="xsd:dateTime"/>
      <xsd:element name="OpenDt" type="xsd:dateTime"/>
      <xsd:element name="EmailStatusCode" type="xsd:string"/>
      <xsd:element name="RequestId" type="xsd:string"/>
      <xsd:element name="CreateRefId" type="aval:Identifier_Type"/>
      <xsd:element name="Version" type="xsd:string"/>
      <xsd:element name="FileRqDt" type="xsd:dateTime"/>
      <xsd:element name="DeliveryLocationType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServiceCode" type="xsd:string"/>
      <xsd:element name="EducationLevel" type="xsd:string"/>
      <xsd:element name="PmtRefId" type="aval:Identifier_Type"/>
      <xsd:element name="Brand" type="aval:OpenEnum_Type"/>
      <xsd:element name="SoapAction" type="xsd:string"/>
      <xsd:element name="ChkImgFront" type="aval:Binary_Type"/>
      <xsd:element name="IdentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="AvailableImage" type="xsd:boolean"/>
      <xsd:element name="PrenoteReqd" type="xsd:boolean"/>
      <xsd:element name="LastTrnDt" type="xsd:dateTime"/>
      <xsd:element name="NumberOfInstalments" type="xsd:long"/>
      <xsd:element name="TotalCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="EmailId" type="xsd:string"/>
      <xsd:element name="DeliveryMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="Count" type="xsd:long"/>
      <xsd:element name="RemainRec" type="xsd:boolean"/>
      <xsd:element name="TrnType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServerStatusDesc" type="xsd:string"/>
      <xsd:element name="FileId" type="xsd:string"/>
      <xsd:element name="DaysToEPost" type="xsd:long"/>
      <xsd:element name="MiddleName" type="xsd:string"/>
      <xsd:element name="BinLength" type="xsd:long"/>
      <xsd:element name="LocationURL" type="xsd:string"/>
      <xsd:element name="PmtAuthCount" type="xsd:long"/>
      <xsd:element name="OwnerPercent" type="xsd:decimal"/>
      <xsd:element name="ChkbkIssueStatusCode" type="xsd:string"/>
      <xsd:element name="AllocateAllowed" type="xsd:boolean"/>
      <xsd:element name="IdentReadMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="PrcDt" type="xsd:dateTime"/>
      <xsd:element name="KeyAcctId" type="xsd:string"/>
      <xsd:element name="NotifyReqd" type="xsd:boolean"/>
      <xsd:element name="EconActivityId" type="xsd:string"/>
      <xsd:element name="TerminalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="RecXferMod" type="xsd:boolean"/>
      <xsd:element name="ContentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SeqNum" type="xsd:long"/>
      <xsd:element name="FeeType" type="xsd:string"/>
      <xsd:element name="CustPermId" type="xsd:string"/>
      <xsd:element name="TaxCode" type="xsd:string"/>
      <xsd:element name="ServiceName" type="xsd:string"/>
      <xsd:element name="PhoneNumber" type="xsd:string"/>
      <xsd:element name="BillSummAmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChkBkType" type="aval:OpenEnum_Type"/>
      <xsd:element name="OverDraftDays" type="xsd:long"/>
      <xsd:element name="StmtRunningBal" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="Income" type="xsd:string"/>
      <xsd:element name="IdentPrevServiceCode" type="xsd:string"/>
      <xsd:element name="IssDt" type="xsd:dateTime"/>
      <xsd:element name="NotificationId" type="xsd:long"/>
      <xsd:element name="AgentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PostingSessionId" type="aval:Identifier_Type"/>
      <xsd:element name="SvcId" type="aval:Identifier_Type"/>
      <xsd:element name="RecPmtMod" type="xsd:boolean"/>
      <xsd:element name="CompositeCurAmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SendNotificationDt" type="xsd:dateTime"/>
      <xsd:element name="CustIdType" type="xsd:string"/>
      <xsd:element name="OrigCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="ExtBalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PeriodCode" type="xsd:string"/>
      <xsd:element name="AdjType" type="aval:OpenEnum_Type"/>
      <xsd:element name="StatusCustomer" type="xsd:string"/>
      <xsd:element name="InvoicePremium" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="PaymentForm" type="aval:OpenEnum_Type"/>
      <xsd:element name="HighCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="BillSummAmtCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="OriginatorType" type="xsd:long"/>
      <xsd:element name="ChkAcceptStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="StatusModBy" type="xsd:string"/>
      <xsd:element name="PropertyType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IsInvGen" type="xsd:boolean"/>
      <xsd:element name="NoteNum" type="xsd:string"/>
      <xsd:element name="IdentConditions" type="aval:OpenEnum_Type"/>
      <xsd:element name="POSOutCapabilities" type="aval:OpenEnum_Type"/>
      <xsd:element name="IncCounts" type="xsd:boolean"/>
      <xsd:element name="MinAmtDue" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="Rate" type="xsd:decimal"/>
      <xsd:element name="ClosedDt" type="xsd:dateTime"/>
      <xsd:element name="BillPmtStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="ExemptType" type="xsd:string"/>
      <xsd:element name="SelRangeDueDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="Cursor" type="aval:Binary_Type"/>
      <xsd:element name="OrgIdNum" type="aval:Identifier_Type"/>
      <xsd:element name="TaxYear" type="xsd:long"/>
      <xsd:element name="PhoneStatusCode" type="xsd:string"/>
      <xsd:element name="AcctPayAcct" type="aval:Identifier_Type"/>
      <xsd:element name="IncSummary" type="xsd:boolean"/>
      <xsd:element name="MaxAmtDue" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="PartyAcctRelId" type="xsd:string"/>
      <xsd:element name="GovIssueIdentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Channel" type="xsd:string"/>
      <xsd:element name="StatusCode" type="xsd:long"/>
      <xsd:element name="SchoolId" type="xsd:string"/>
      <xsd:element name="NoBillerMainReference" type="xsd:string"/>
      <xsd:element name="ImmediatePmt" type="xsd:boolean"/>
      <xsd:element name="CreditScoreDesc" type="xsd:string"/>
      <xsd:element name="POSLocation" type="aval:OpenEnum_Type"/>
      <xsd:element name="ClientBusinessDt" type="xsd:dateTime"/>
      <xsd:element name="MediaType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PSSMsgMAC" type="aval:OpenEnum_Type"/>
      <xsd:element name="ClientDt" type="xsd:dateTime"/>
      <xsd:element name="LowCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="BillId" type="aval:UUID_Type"/>
      <xsd:element name="EstablishDt" type="xsd:dateTime"/>
      <xsd:element name="Org" type="xsd:string"/>
      <xsd:element name="CSPRefId" type="aval:Identifier_Type"/>
      <xsd:element name="PhoneId" type="xsd:string"/>
      <xsd:element name="SecObjId" type="aval:Identifier_Type"/>
      <xsd:element name="IncExtBal" type="xsd:boolean"/>
      <xsd:element name="XferStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="MaritalStatus" type="aval:OpenEnum_Type"/>
      <xsd:element name="PaidDt" type="xsd:dateTime"/>
      <xsd:element name="CentralBankDesc" type="xsd:string"/>
      <xsd:element name="NetworkOwner" type="aval:OpenEnum_Type"/>
      <xsd:element name="ForExDealId" type="aval:Identifier_Type"/>
      <xsd:element name="SpecialHandling" type="aval:OpenEnum_Type"/>
      <xsd:element name="CardVrfyData" type="xsd:string"/>
      <xsd:element name="CreditScoreId" type="xsd:string"/>
      <xsd:element name="IdentVerifyResults" type="aval:OpenEnum_Type"/>
      <xsd:element name="POSCaptureCapability" type="xsd:boolean"/>
      <xsd:element name="CIFINDesc" type="xsd:string"/>
      <xsd:element name="MaxRec" type="xsd:long"/>
      <xsd:element name="BankId" type="xsd:string"/>
      <xsd:element name="PSSCATSecLevel" type="aval:OpenEnum_Type"/>
      <xsd:element name="LoanPmtComplement" type="aval:OpenEnum_Type"/>
      <xsd:element name="EffDt" type="xsd:dateTime"/>
      <xsd:element name="OptDocType" type="xsd:string"/>
      <xsd:element name="DefaultEmail" type="xsd:string"/>
      <xsd:element name="CryptPswd" type="aval:Binary_Type"/>
      <xsd:element name="RevReasonCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="ViewDtlPref" type="aval:OpenEnum_Type"/>
      <xsd:element name="DeliveryMessage" type="xsd:boolean"/>
      <xsd:element name="FileStatus" type="aval:OpenEnum_Type"/>
      <xsd:element name="SessKey" type="xsd:string"/>
      <xsd:element name="Portfolio" type="xsd:string"/>
      <xsd:element name="BSPCode" type="xsd:string"/>
      <xsd:element name="DegreeReceived" type="xsd:string"/>
      <xsd:element name="Timeout" type="xsd:string"/>
      <xsd:element name="ChkIssueStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentVerifyEntity" type="aval:OpenEnum_Type"/>
      <xsd:element name="AvailDt" type="xsd:dateTime"/>
      <xsd:element name="PrimaryAcct" type="xsd:boolean"/>
      <xsd:element name="LiquidationMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="NumEmployees" type="xsd:long"/>
      <xsd:element name="EmailType" type="xsd:string"/>
      <xsd:element name="DepAcctStmtId" type="aval:Identifier_Type"/>
      <xsd:element name="CreatedDt" type="xsd:dateTime"/>
      <xsd:element name="RemitId" type="aval:Identifier_Type"/>
      <xsd:element name="useIndicator" type="xsd:string"/>
      <xsd:element name="ServerTerminalSeqId" type="aval:Identifier_Type"/>
      <xsd:element name="FileName" type="xsd:string"/>
      <xsd:element name="DeliveryDays" type="xsd:long"/>
      <xsd:element name="SecondLastName" type="xsd:string"/>
      <xsd:element name="BirthDt" type="xsd:dateTime"/>
      <xsd:element name="TargetObject" type="xsd:string"/>
      <xsd:element name="PmtFormat" type="aval:OpenEnum_Type"/>
      <xsd:element name="PaidCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="IdentServiceCode" type="xsd:string"/>
      <xsd:element name="ChkImgBack" type="aval:Binary_Type"/>
      <xsd:element name="AllowsMultipleProducts" type="xsd:boolean"/>
      <xsd:element name="PrefetchURL" type="aval:URL_Type"/>
      <xsd:element name="LastSettlementDt" type="xsd:dateTime"/>
      <xsd:element name="NotifyWilling" type="xsd:boolean"/>
      <xsd:element name="EconActivityDesc" type="xsd:string"/>
      <xsd:element name="Token" type="aval:Identifier_Type"/>
      <xsd:element name="CorrectAction" type="aval:OpenEnum_Type"/>
      <xsd:element name="RegistrationId" type="aval:Identifier_Type"/>
      <xsd:element name="TrnSrc" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServerStatusCode" type="xsd:string"/>
      <xsd:element name="FileDesc" type="xsd:string"/>
      <xsd:element name="DaysCall" type="xsd:long"/>
      <xsd:element name="TaxName" type="xsd:string"/>
      <xsd:element name="WebMethod" type="xsd:string"/>
      <xsd:element name="PmtAgreementId" type="xsd:string"/>
      <xsd:element name="BillType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChkbkIssueNum" type="xsd:string"/>
      <xsd:element name="OwnerInd" type="xsd:boolean"/>
      <xsd:element name="Aging" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentProgramId" type="aval:Identifier_Type"/>
      <xsd:element name="ItemValue" type="xsd:boolean"/>
      <xsd:element name="NotificationType" type="xsd:long"/>
      <xsd:element name="Occupation" type="xsd:string"/>
      <xsd:element name="POSVerifyCapability" type="aval:OpenEnum_Type"/>
      <xsd:element name="TaxType" type="xsd:string"/>
      <xsd:element name="RecXferId" type="aval:Identifier_Type"/>
      <xsd:element name="ContactType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SentRec" type="xsd:long"/>
      <xsd:element name="Extensions" type="xsd:long"/>
      <xsd:element name="CustLoginId" type="xsd:string"/>
      <xsd:element name="AcctCountable" type="xsd:boolean"/>
      <xsd:element name="Component" type="xsd:string"/>
      <xsd:element name="PendExpDays" type="xsd:long"/>
      <xsd:element name="AgentId" type="aval:Identifier_Type"/>
      <xsd:element name="BillSummAmtId" type="aval:Identifier_Type"/>
      <xsd:element name="ChkBkId" type="xsd:string"/>
      <xsd:element name="OrigIssueDt" type="xsd:dateTime"/>
      <xsd:element name="PropertyDesc" type="xsd:string"/>
      <xsd:element name="StatusOverDraft" type="aval:OpenEnum_Type"/>
      <xsd:element name="IssuerCDAType" type="xsd:string"/>
      <xsd:element name="IdentPrevReadMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="NoteType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PostedDt" type="xsd:dateTime"/>
      <xsd:element name="StmtSummType" type="aval:OpenEnum_Type"/>
      <xsd:element name="RecId" type="xsd:long"/>
      <xsd:element name="CloseDt" type="xsd:dateTime"/>
      <xsd:element name="SelRangePaidDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="CustIdNum" type="xsd:string"/>
      <xsd:element name="OrgPhone" type="xsd:string"/>
      <xsd:element name="ExpDt" type="xsd:dateTime"/>
      <xsd:element name="Active" type="xsd:boolean"/>
      <xsd:element name="PeriodType" type="aval:OpenEnum_Type"/>
      <xsd:element name="DefaultPhone" type="xsd:boolean"/>
      <xsd:element name="IncToken" type="xsd:boolean"/>
      <xsd:simpleType name="UUID_Type">
		<xsd:restriction base="xsd:string">
			<xsd:annotation>
				<xsd:documentation>UUID elements are Narrow Character with a maximum length of 36.</xsd:documentation>
			</xsd:annotation>
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="UUID" type="aval:UUID_Type"/>
      <xsd:simpleType name="OpenEnum_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="OpenEnum" type="aval:OpenEnum_Type"/>
      <xsd:complexType name="CurrencyAmount_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:Amt"/>
			<xsd:element minOccurs="0" ref="aval:CurCode"/>
			<xsd:sequence minOccurs="0">
				<xsd:element minOccurs="0" ref="aval:CurRate"/>
				<xsd:element minOccurs="0" ref="aval:CurConvertRule"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="CurrencyAmount" type="aval:CurrencyAmount_Type"/>
      <xsd:simpleType name="Amt_Type">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
      <xsd:element name="Amt" type="aval:Amt_Type"/>
      <xsd:simpleType name="CurCode_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
      <xsd:element name="CurCode" type="aval:CurCode_Type"/>
      <xsd:complexType name="CurConvertRule_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:OpenEnum"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="CurConvertRule" type="aval:CurConvertRule_Type"/>
      <xsd:simpleType name="Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>
				Object identifiers in the IFX Specification are of the
				data type "Identifier." This is a Narrow Character data
				type with a maximum length of 36.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Identifier" type="aval:Identifier_Type"/>
      <xsd:element name="URL" type="aval:URL_Type"/>
      <xsd:simpleType name="URL_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:complexType name="Binary_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:ContentType"/>
			<xsd:element ref="aval:BinLength"/>
			<xsd:element ref="aval:BinData"/>
			<xsd:element minOccurs="0" ref="aval:CryptType"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="Binary" type="aval:Binary_Type"/>
      <xsd:simpleType name="BinData_Type">
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
      <xsd:element name="BinData" type="aval:BinData_Type"/>
      <xsd:complexType name="SelRangeDt_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:StartDt"/>
			<xsd:element minOccurs="0" ref="aval:EndDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="SelRangeDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="StartDt" type="xsd:dateTime"/>
      <xsd:element name="EndDt" type="xsd:dateTime"/>
      <xsd:element name="MsgRqHdr" type="aval:MsgRqHdr_Type"/>
      <xsd:complexType name="MsgRqHdr_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:ClientApp"/>
			<xsd:element minOccurs="0" ref="aval:Channel"/>
			<xsd:element minOccurs="0" ref="aval:BankInfo"/>
			<xsd:element minOccurs="0" ref="aval:ClientDt"/>
			<xsd:element minOccurs="0" ref="aval:IPAddr"/>
			<xsd:element minOccurs="0" ref="aval:SessKey"/>
			<xsd:element minOccurs="0" ref="aval:UserId"/>
			<xsd:element minOccurs="0" ref="aval:KeyAcctId"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="ClientApp_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:Org"/>
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:Version"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="ClientApp" type="aval:ClientApp_Type"/>
      <xsd:complexType name="BankInfo_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:BankIdType"/>
			<xsd:element ref="aval:BankId"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:RefInfo"/>
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:BranchId"/>
			<xsd:element minOccurs="0" ref="aval:BranchName"/>
			<xsd:choice minOccurs="0">
				<xsd:element minOccurs="0" ref="aval:PostAddr"/>
				<xsd:sequence minOccurs="0">
					<xsd:element minOccurs="0" ref="aval:City"/>
					<xsd:element minOccurs="0" ref="aval:StateProv"/>
					<xsd:element minOccurs="0" ref="aval:PostalCode"/>
					<xsd:element minOccurs="0" ref="aval:Country"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="BankInfo" type="aval:BankInfo_Type"/>
      <xsd:element name="BranchId" type="xsd:string"/>
      <xsd:element name="BranchName" type="xsd:string"/>
      <xsd:element name="BankIdType" type="aval:OpenEnum_Type"/>
      <xsd:element name="RefInfo" type="aval:RefInfo_Type"/>
      <xsd:complexType name="RefInfo_Type">
		<xsd:sequence>
			<xsd:element name="RefType" type="aval:RefType_Type"/>
			<xsd:element name="RefId" type="aval:Identifier_Type"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:simpleType name="RefType_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
      <xsd:element name="RefType" type="aval:RefType_Type"/>
      <xsd:element name="PostAddr" type="aval:PostAddr_Type"/>
      <xsd:complexType name="PostAddr_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="4" minOccurs="0" ref="aval:Addr"/>
			<xsd:element minOccurs="0" ref="aval:CityId"/>
			<xsd:element minOccurs="0" ref="aval:City"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:PostalCode"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
			<xsd:element minOccurs="0" ref="aval:AddrType"/>
			<xsd:element minOccurs="0" ref="aval:StartDt"/>
			<xsd:element minOccurs="0" ref="aval:EndDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:simpleType name="Addr_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Addr" type="aval:Addr_Type"/>
      <xsd:simpleType name="City_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="City" type="aval:City_Type"/>
      <xsd:simpleType name="CityId_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="CityId" type="aval:CityId_Type"/>
      <xsd:simpleType name="StateProv_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="StateProv" type="aval:StateProv_Type"/>
      <xsd:simpleType name="PostalCode_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="PostalCode" type="aval:PostalCode_Type"/>
      <xsd:simpleType name="Country_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Country" type="aval:Country_Type"/>
      <xsd:element name="AddrType" type="aval:OpenEnum_Type"/>
      <xsd:complexType name="UserId_Type">
		<xsd:complexContent>
			<xsd:extension base="aval:CustId_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
      <xsd:element name="UserId" type="aval:UserId_Type"/>
      <xsd:element name="CustId" type="aval:CustId_Type"/>
      <xsd:complexType name="CustId_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:CustPermId"/>
			<xsd:element minOccurs="0" ref="aval:CustLoginId"/>
			<xsd:element minOccurs="0" ref="aval:GovIssueIdent"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:CustName"/>
		</xsd:sequence>
	</xsd:complexType>
      <element name="CustName" type="aval:CustName_Type"/>
      <complexType name="CustName_Type">
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="aval:LastName"/>
			<element maxOccurs="1" minOccurs="0" ref="aval:FirstName"/>
			<element maxOccurs="1" minOccurs="0" ref="aval:Nickname"/>
			<element maxOccurs="1" minOccurs="0" ref="aval:LegalName"/>
			<element maxOccurs="1" minOccurs="0" ref="aval:MiddleName"/>
			<element maxOccurs="1" minOccurs="0" ref="aval:SecondLastName"/>
		</sequence>
	</complexType>
      <xsd:simpleType name="Nickname_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Nickname" type="aval:Nickname_Type"/>
      <xsd:simpleType name="FirstName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="FirstName" type="aval:FirstName_Type"/>
      <xsd:simpleType name="LastName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="LastName" type="aval:LastName_Type"/>
      <xsd:element name="LegalName" type="aval:LegalName_Type"/>
      <xsd:simpleType name="LegalName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:complexType name="GovIssueIdent_Type">
		<xsd:sequence>
			<xsd:element ref="aval:GovIssueIdentType"/>
			<xsd:element ref="aval:IdentSerialNum"/>
			<xsd:element minOccurs="0" ref="aval:GovOrg"/>
			<xsd:element minOccurs="0" ref="aval:GovOrgName"/>
			<xsd:element minOccurs="0" ref="aval:GovRank"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
			<xsd:element minOccurs="0" ref="aval:Desc"/>
			<xsd:element minOccurs="0" ref="aval:IssDt"/>
			<xsd:element minOccurs="0" ref="aval:ExpDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="GovIssueIdent" type="aval:GovIssueIdent_Type"/>
      <xsd:simpleType name="GovOrgName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="GovOrgName" type="aval:GovOrgName_Type"/>
      <xsd:element name="GovRank" type="aval:GovRank_Type"/>
      <xsd:simpleType name="GovRank_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:simpleType name="DateTime_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="DateTime" type="aval:DateTime_Type"/>
      <xsd:element name="IdentSerialNum" type="aval:IdentSerialNum_Type"/>
      <xsd:simpleType name="IdentSerialNum_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:complexType name="GenericAcctId_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:AcctId"/>
			<xsd:element minOccurs="1" ref="aval:AcctType"/>
			<xsd:element minOccurs="0" ref="aval:BankInfo"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:AcctCur"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="AcctCur" type="aval:AcctCur_Type"/>
      <xsd:simpleType name="AcctCur_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="AcctId" type="xsd:string"/>
      <xsd:element name="AcctType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Desc" type="xsd:string"/>
      <xsd:simpleType name="SecretId_Type">
            <xsd:restriction base="aval:Identifier_Type"/>
         </xsd:simpleType>
      <xsd:element name="SecretId" type="aval:SecretId_Type"/>
      <xsd:element name="ApprovalId" type="xsd:string"/>
      <xsd:simpleType name="Severity_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Info"/>
			<xsd:enumeration value="Warn"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Severity" type="aval:Severity_Type"/>
      <xsd:element name="CryptSecret" type="aval:Binary_Type"/>
      <xsd:complexType name="SecretList_Type">
		<xsd:sequence>
			<xsd:element ref="aval:SecretId"/>
			<xsd:element ref="aval:CryptType"/>
			<xsd:choice>
				<xsd:element ref="aval:CryptSecret"/>
				<xsd:element ref="aval:Secret"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="SecretList" type="aval:SecretList_Type"/>
      <xsd:simpleType name="Secret_Type">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="80"/>
            </xsd:restriction>
         </xsd:simpleType>
      <xsd:element name="Secret" type="aval:Secret_Type"/>
      <xsd:element name="AdditionalStatus" type="aval:AdditionalStatus_Type"/>
      <xsd:complexType name="AdditionalStatus_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:StatusCode"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusCode"/>
			<xsd:element minOccurs="0" ref="aval:Severity"/>
			<xsd:element minOccurs="0" ref="aval:StatusDesc"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="CurAmt_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:Amt"/>
			<xsd:element minOccurs="0" ref="aval:CurCode"/>
			<xsd:sequence minOccurs="0">
				<xsd:element minOccurs="0" ref="aval:CurRate"/>
				<xsd:element minOccurs="0" ref="aval:CurConvertRule"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="CurAmt" type="aval:CurAmt_Type"/>
      <xsd:element name="TxCostAmt" type="aval:TxCostAmt_Type"/>
      <xsd:complexType name="TxCostAmt_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:CurAmt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="MsgRsHdr_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:TxCostAmt"/>
			<xsd:element minOccurs="0" ref="aval:EffDt"/>
			<xsd:element minOccurs="0" ref="aval:RemainRec"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="MsgRsHdr" type="aval:MsgRsHdr_Type"/>
      <xsd:element name="Status" type="aval:Status_Type"/>
      <xsd:complexType name="Status_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:StatusCode"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusCode"/>
			<xsd:element minOccurs="1" ref="aval:Severity"/>
			<xsd:element minOccurs="0" ref="aval:StatusDesc"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusDesc"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:AdditionalStatus"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="SvcRs" type="aval:SvcRs_Type"/>
      <xsd:complexType name="SvcRs_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:Status"/>
			<xsd:element minOccurs="0" ref="aval:ApprovalId"/>
			<xsd:element minOccurs="1" ref="aval:RqUID"/>
			<xsd:element minOccurs="0" ref="aval:MsgRqHdr"/>
			<xsd:element minOccurs="0" ref="aval:MsgRsHdr"/>
			<xsd:element minOccurs="0" ref="aval:CustId"/>
		</xsd:sequence>
	</xsd:complexType>
    </xsd:schema>
    </wsdl:types>

	<wsdl:message name="getFinancialEntitiesRequest">
		<wsdl:part element="tns:getFinancialEntitiesRequest" name="getFinancialEntitiesRq"/>
	</wsdl:message>
	<wsdl:message name="getFinancialEntitiesResponse">
		<wsdl:part element="tns:getFinancialEntitiesResponse" name="getFinancialEntitiesRs"/>
	</wsdl:message>
	
	<wsdl:portType name="FinancialEntitiesInq">
		<wsdl:operation name="getFinancialEntities">
			<wsdl:input message="tns:getFinancialEntitiesRequest"/>
			<wsdl:output message="tns:getFinancialEntitiesResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FinancialEntitiesInqBinding" type="tns:FinancialEntitiesInq">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getFinancialEntities">
			<soap:operation soapAction="urn://grupoaval.com/payments/v1/getFinancialEntities"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FinancialEntitiesInqSvc">
		<wsdl:port binding="tns:FinancialEntitiesInqBinding" name="FinancialEntitiesInqPort">
			<soap:address location="http://ESBATH:7800/payments/FinancialEntitiesInq"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>